<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmVq-OmHL5H_5P8b1k306pFddOe3049-il2A&s"
      alt="placeholder"
      height="250px"
    />
  </div>
  


  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular </a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
          officia quisquam beatae itaque optio dolores animi? Commodi aut.
      </a>
    </p>
  </div>
</div>
